.container{
  width:100vh;
  height:90vh;
  position: relative;
}
.card-deck{
  position: absolute;
  top: 55%;
}

.rest{
  position: absolute;
  top: 30%;
  right: 40%;
}

.rest p{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
  width:200px;
  height:200px;
  display: block;
  margin-top: 50px;
  position: absolute;
  top: -10%;
  right: 40%;
}